<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
{% extends "base.html" %}
{% block body %}
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
</header>
<div class=mainDiv>
{% if state == "qask"%}
<form action="#" method="post" novalidate>
        {{ form.hidden_tag() }}
        <h1>{{ state }}</h1>
        <p>
            {{ form.question.label }}<br>
            {{ form.question(size=32) }}
        </p>
        <p>
           {{ form.category.label(class_="input-group-addon") }}
           {{ form.category (class_="form-control")}}
        </p>      
        <p>{{ form.submit() }}</p>
    </form>
<form action="#" method="post" novalidate>
        {{ doneform.hidden_tag() }}
        <p>{{ doneform.submit() }}</p>
    </form>
{% elif style == "s_text" %}
<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <h1>{{ state }}</h1>
        <p>
       {{ form.answer.label }}<br>
       {{ form.answer(size=32) }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% elif style == "radio" %}
<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <h1>{{ state }}</h1>
        <p>
       
       {{ form.answer1.label }}<br>
       {{ form.answer1(size=32) }}</p>
       <p>
       {{ form.answer2.label }}<br>
       {{ form.answer2(size=32) }}</p>
       <p>
       {{ form.answer3.label }}<br>
       {{ form.answer3(size=32) }}</p>
       <p>
       {{ form.answer4.label }}<br>
       {{ form.answer4(size=32) }}</p>
       <p>
       {{ form.answer5.label }}<br>
       {{ form.answer5(size=32) }}</p>
       <p>
       {{ form.answer6.label }}<br>
       {{ form.answer6(size=32) }}</p>
       
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endif %}
{% endblock %}
